.index_page04{
    width: 80vw;
    height: 600px;
    margin-left: 10vw;
    margin-top: 100px;
}
.index_page04_title01{
    float: left;
    width: 40vw;
    height: 200px;
}
.index_page04_title02{
    width: 100%;
    height: 100%;

}
.index_page04_title02:hover{
    transition: 2s;
    background-color: rgba(31, 22, 29, 0.5);
}
.index_page04_title02 p{
    color: #333;
    text-align: center;
}




.index1_page04_box{
    margin-left: 10vw;
    margin-top: 30px;
}
.index1_page04_box a li{
    float: left;
    height: 5vh;
    width: 8vw;
    text-align: center;
    line-height: 5vh;
    color: black;
    list-style: none;
}
.index1_page04_box a li:hover{
    border-bottom: solid 4px red;
}
.iframe_a{
    width: 80vw;
    height: 80vh;
    margin-left: 12vw;
}
.index1_page04_iframe{
    width: 90%;
    height: 22vh;
    position: relative;
    padding: 30px;
    box-shadow: darkgrey 5px 5px 30px 2px ;
}
.index1_page04_iframe img{
    width: 20%;
    height: 20vh;
    margin: 1vh 0.5%;
    float: left;
}
.index1_page04_iframe p{
    float: left;
    text-indent: 2em;
}
.index1_page04_iframe:hover{
    box-shadow: darkgrey 10px 10px 30px 5px ;
}
.end{
    width: 100vw;
    height: 70px;
    background-color: #555555;
    position: relative;
    bottom: 0;
}
.end p{
    text-align: center;
    line-height: 70px;
}

#dd1{
    width: 80vw;
    height: 768px;
    margin-left: 10vw;
}
.item{
    width: 100%;
    height: 650px;
}
.item img{
    width: 100%;
    height: 100%;
}
.box_word{
    width: 100%;
    height: 30%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
}
.box_word p{
    color: white;
    font-size: 28px;
    text-indent: 2em;
    margin: 20px 20px;
}