nav{
    width: 100vw;
    height: 70px;
    background-color: rgba(46, 43, 38, 0.7);
    margin: 0;
    position: fixed;
    z-index: 100;
}
.index_title01{
    text-align: center;
    clear: both;
}
.index_title01 h1{
    color: #BD362F;
}
.navigation{
    margin-left: 35vw;
}
.navigation a{
    color: white;
}
.navigation ul{
    margin: 0;
}
.navigation ul li{
    float: left;
    width: 10vw;
    height: 70px;
    list-style:none;
    text-align: center;
    line-height: 70px;
}
.navigation ul li a{
    text-decoration: none;
}
.navigation ul li:hover{
    background-color: blue;
}
.navigation01{
    width: 10vw;
    height: 210px;
    background-color: rgba(46, 43, 38, 0.7);
    padding: 0;
    display: none;
}
.navigation li:hover .navigation01{
    display: block;
}
.navigation02{
    width: 10vw;
    height: 210px;
    background-color: rgba(46, 43, 38, 0.7);
    padding: 0;
    display: none;
}
.navigation li:hover .navigation02{
    display: block;
}
