#box{
    position:relative;
    width:100VW;
    height: 768px;
    overflow: hidden;
}
img{
    position:absolute;
    width:100vw;
    height: 768px;
}
#imgId1{
    opacity:1;
}
#imgId2{
    opacity:0;
}
#imgId3{
    opacity:0;
}